* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: grey;
    font-size: 50px;
}

p {
<<<<<<< HEAD
    color: aqua;
    font-size: 35px;
}
=======
    color: pink;
    font-size: 1.5rem;
}

h2 {
    color: blue;
}
>>>>>>> e13bd587eee81d4116544e346489ded08b7c57cd
